header {
    background-color: darkslategray;
    display: flex;

    padding: 20px;
    justify-content: space-between;
}

h1 {

    font-size: 200%;
    background-image: url("../assets/background-3104413__340.jpg");
    padding: 20px;
    background-size:cover;
    background-position: center;
}

h2 {
    
   
    margin:0 50px;
    text-align: left;
    font-size: 150%;
    width: 5%;
    padding: 0 100px 0 0;
    border-right: solid;

}

.nav-link {
    margin: 5px;
    font-size: 25pt;
    color: black;

}


/* This the photo under the header */

.header-photo {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/background-3104413__340.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
   
}


.about-Me,
.work,
footer {
    display: flex;
    margin-top: 50px;
    flex: 1;



}

p {
    margin: 10px 0 0 25px;
    font-size: 16pt;
    line-height: 1.5;
    flex-wrap: wrap;
    display: flex;
}

img {
    border: solid;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 16pt;
    font-weight: 500;
}


footer{
    padding-bottom:50px;
   

}


/*This media query for when you view the portfoilo on a smaller screen size */
@media (max-width: 600px) {

    header,
    .about-Me,
    .work,
    footer {
        flex-direction: column;
    }
    /*This removes the photo on smaller screens */
    #photo {
        display: none;
    }
    h2{
        border-bottom: solid;
        border-right: none;
        margin-bottom: 10px;
    }
}   

